
body {
    margin: 0;
    font-family: 'Roboto', sans-serif
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --sk-size: 40px;
    --sk-color: #333;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*, :after, :before {
    box-sizing: border-box;
}

b, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #f7f7f7;
    color: #545454;
    text-align: center;
}
.footer_text {
    margin-bottom: 4px;
}
.footer_heart {
    fill: #B92F2C;
    vertical-align: auto;
    color: #B92F2C;
}

/* MODAL */

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
body.is-open {
    overflow: hidden;
    transition: 2500ms linear;
}
.js-lightbox.is-open {
    transform: scale(1);
    transition: 2500ms linear;
}
.lightbox.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: 2500ms linear;
}
.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.56);
    top: 0;
    left: 0;
    overflow: auto;
    pointer-events: none;
    transition: 2500ms linear;
    
}
.lightbox_title {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    color: #000;
}
.lightbox_content {
    color: #000;
    background-color: hsla(0,0%,100%,.9);
    max-width: 800px;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.lightbox_fourrowel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.08), 0 2px 2px rgba(0,0,0,.12);
    border-radius: 0 0 4px 4px;
    margin-top: 10px;
    padding-left: 10px;
}
.sociallinks {
    border-radius: 50%;
    padding: 10px;
}
.sociallinks_icon {
    fill: #000; 
}
/*.lightbox_fourrowel:hover,
.lightbox_fourrowel:focus,
.lightbox_list:hover,
.lightbox_list:focus,
.sociallinks:hover,
.sociallinks:focus,
.sociallinks_icon:hover,
.sociallinks_icon:focus,*/
.icon_link:hover,
.icon_link:focus,
.svg:hover,
.svgcon_link:focus{
   fill: #B92F2C;
   cursor: pointer;
}

.lightbox_button,.icon  {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: #B92F2C;
    fill: #000;
    cursor: pointer;
    outline: none;
    background-position: 50%;
    background-size: 30%;
    background-repeat: no-repeat;
}
.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.lightbox_button:hover,
.lightbox_button:focus,
.icon:hover,
.icon:focus {
	fill: floralwhite;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, select {
    text-transform: none;
}

.lightbox_img {
    border-radius: 5%;
    border: 2px solid #B92F2C;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.comcontent {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: normal;
    margin: 0;
    padding: 10px;
    text-align: left;
    width: 70%;
}
.comcontent_name {
    color: #000;
    margin: 0;
    padding-left: 10px;
}
.comcontent_subtitle {
    color: #B92F2C;
    padding-left: 10px;
    padding-top: 4px;
}



/* MEDIA */

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: normal;
        padding-top: 29px;
        padding-bottom: 30px;
        height: 100px;
    }
    .footer_flex {
        display: inline;
        margin: auto;
    }
    .footer_flex--dev {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_heart {
        margin: 3.5px 10px 0;
    }
    .lightbox_body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        padding: 20px;
    }
    .lightbox_list {
        display: inline;
        margin: auto;
    }
    .comcontent_name {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: normal;
    }
    .comcontent_subtitle {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.12;
        letter-spacing: normal;
    }
}

@media (min-width: 789px) and (max-width: 1023px){
    .footer {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: normal;
        padding-top: 30px;
        padding-bottom: 28px;
        height: 77px;
    }   
    .footer_flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .footer_flex--dev {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .footer_heart {
        margin: 3.5px 10px 0;
    }
    .lightbox_body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 882px;
        min-height: 100%;
        z-index: 10;
    }
    .lightbox_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
    }
    .lightbox_fourrowel {
        margin: 20px 20px 0 0;
        width: calc((100% - 40px)/2);
        min-height: 100px;
    }
    .comcontent_name {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.18;
        letter-spacing: normal;
    }
    .comcontent_subtitle {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: normal;
    }
}

@media (min-width: 1024px){
    .footer {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: normal;
        padding-top: 30px;
        padding-bottom: 28px;
        height: 77px;
    }   
    .footer {
        width: 100%;
        background-color: #f7f7f7;
        color: #545454;
        text-align: center;
    }
    .footer_flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .footer_text {
        margin-bottom: 4px;
    }
    .footer_flex--dev {
        display: flex;
    }
    .footer_heart {
        margin: 3.5px 10px 0;
    }
    .footer {
        width: 100%;
        background-color: #f7f7f7;
        color: #545454;
        text-align: center;
    }
    .lightbox_body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 882px;
        min-height: 100%;
        z-index: 10;
    }
    .lightbox_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
    }
    .lightbox_fourrowel {
        margin: 20px 20px 0 0;
        width: calc((100% - 40px)/2);
        min-height: 100px;
    }
    .comcontent_subtitle {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: normal;
    }
    .comcontent_name {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.18;
        letter-spacing: normal;
    }
    .comcontent_subtitle {
        font-family: Roboto,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: normal;
    }
}